= simple_form_for @pin do |f|
	
	- if @pin.errors.any?
		#errors
			%h2
				= pluralize(@pin.errors.size, 'Error')
				prevented this page from saving
			%ul
				- @pin.errors.full_messages.each do |msg|
					%li= msg

	= f.input :image
	= f.input :title
	= f.input :description


	= f.button :submit